<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= comment.content %>
        </p>
      </div>
    </div>
    <%= link_to 'Delete', [comment.episode, comment],
                method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
  </article>

</div>