<%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>Liste des séries</h1>

<% if @series.any? %>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @series.each do |serie| %>
      <tr>
        <td><%= serie.id %></td>
        <td><%= serie.title %></td>
        <td>
          <%= link_to 'Afficher', series_path(serie) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Il n'y a pas encore de série.</p>
<% end %>